<!-- Slogan -->
<div class="eslogan">
    <div>
        <img src="assets/img/home/undraw_dark_alley_hl3o.svg" alt="logo" />
    </div>
</div>
<!-- Quien somos -->
<div class="quiensomos">
    <div id="quiensomos-text" class="opacity-0 quiensomos-text">
        <h1>Quienes Somos</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, iure adipisci. Sit quibusdam nostrum perspiciatis id quaerat. Beatae illo possimus voluptas, delectus quam perferendis!
        </p>
    </div>
    <div id="quiensomos-img" class="opacity-0 quiensomos-img">
        <img src="assets/img/home/d99cb12d00a2dd06e1d2542d829ae964.png" alt="" />
    </div>
</div>
<!-- Servicios -->
<div class="servicios">
    <h1>¿ Que podemos ofrecerte ?</h1>
    <div class="servicios-container">
        <div class="servicio">
            <a [routerLink]="['/' + coreLinks.studios]">
                <div class="servicio-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')">
                    <div class="animated fadeIn">Estudio</div>
                </div>
            </a>
            <div class="servicio-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis velit iusto ab numquam aperiam consequuntur omnis consequatur corporis distinctio, sunt temporibus obcaecati quasi!
            </div>
        </div>
        <div class="servicio">
            <a [routerLink]="['/' + coreLinks.artists]">
                <div class="servicio-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')">
                    <div class="animated fadeIn">Tatuador</div>
                </div>
            </a>
            <div class="servicio-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis velit iusto ab numquam aperiam consequuntur omnis consequatur corporis distinctio, sunt temporibus obcaecati quasi!
            </div>
        </div>
        <div class="servicio">
            <div class="servicio-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')">
                <div class="animated fadeIn">Cliente</div>
            </div>
            <div class="servicio-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis velit iusto ab numquam aperiam consequuntur omnis consequatur corporis distinctio, sunt temporibus obcaecati quasi!
            </div>
        </div>
    </div>
</div>
<!-- Secciones -->
<div class="secciones">
    <h1>Secciones</h1>
    <div class="secciones-container">
        <div class="seccion">
            <a [routerLink]="['/' + coreLinks.studios]">
                <div class="seccion-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')">
                    <div class="animated fadeIn">Tienda</div>
                </div>
            </a>
            <div class="seccion-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis velit iusto ab numquam aperiam consequuntur omnis consequatur corporis distinctio, sunt temporibus obcaecati quasi!
            </div>
            <a class="btn-outlet-white" [routerLink]="['/' + coreLinks.studios]">Más información</a>
        </div>
        <div class="seccion">
            <a [routerLink]="['/' + coreLinks.artists]">
                <div class="seccion-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')">
                    <div class="animated fadeIn">Tatuadores</div>
                </div>
            </a>
            <div class="seccion-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis velit iusto ab numquam aperiam consequuntur omnis consequatur corporis distinctio, sunt temporibus obcaecati quasi!
            </div>
            <a class="btn-outlet-white" [routerLink]="['/' + coreLinks.artists]">Más información</a>
        </div>
        <div class="seccion">
            <a [routerLink]="['/' + coreLinks.globalevents]">
                <div class="seccion-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')">
                    <div class="animated fadeIn">Eventos</div>
                </div>
            </a>
            <div class="seccion-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis velit iusto ab numquam aperiam consequuntur omnis consequatur corporis distinctio, sunt temporibus obcaecati quasi!
            </div>
            <a class="btn-outlet-white" [routerLink]="['/' + coreLinks.globalevents]">Más información</a>
        </div>
    </div>
</div>
<!-- Register -->
<div class="register">
    <h1>Ya sabes lo que quieres</h1>
    <a class="btn-outlet-blue" [routerLink]="['/' + coreLinks.register]">Registrate</a>
    <div class="register-img" style="background-image: url('assets/img/home/mohammad-faruque-192128-unsplash.jpg')"></div>
</div>