<div class="login_container">
  <h1 class="h1-pt-75">Login</h1>
  <form class="container_form">
    <div class="register-img">
      <img src="assets/img/register.png" alt="register" />
    </div>
    <div class="questions">
      <mat-form-field appearance="outline">
        <mat-label>Correo:</mat-label>
        <input matInput placeholder="Ej:mario@gmail.com" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña:</mat-label>
        <input type="password" matInput placeholder="*****" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <div class="form-buttons">
        <button mat-raised-button color="accent">Login</button>
      </div>
    </div>
  </form>
</div>
