@import 'variables';
@import 'mixins';

@mixin login-theme($theme) {
    
  .login_container {
    .h1-pt-75 {
      width: 100%;
      text-align: center;
      margin: 0;
      padding-top: 125px;
      padding-bottom: 50px;
    }
    .container_form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      .questions {
        display: inherit;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include mediaQuery('tablet-large') {
          width: 50%;
        }
        .mat-form-field {
            margin: 10px;
            width: 80%;
            @include mediaQuery('tablet-large') {
              font-size: 16px;
              width: 40%;
            }
          }
        .form-buttons {
          margin: 10px;
          // position: absolute;
          display: flex;
          align-self: end;
          align-items: center;
          justify-content: space-around;
          height: 100px;
          width: 100%;
          .mat-raised-button {
            height: 40px;
          }
        }
      }
    }
  }
}
