.d-grid {
  display: grid;
}
.d-hidden {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.opacity-0 {
  opacity: 0;
}
.img-fluid {
  display: block;
  height: 100%;
  width: auto;
}
.h-100vh {
  height: 100vh;
  margin: 0;
}
