$breakpoints: (
  'mobile-small': 240px,
  'mobile-large': 320px,
  'tablet-small': 480px,
  'tablet-large': 769px,
  'screen-small': 1024px,
  'screen-large': 1280px
);
$header-height: 75px;
$font-global: 1.15rem;
$icons-header: 35px;
